body{
  background-color:#eaeaea !important;
}
header{
  margin-top: 55px;
}

.form-group.label-static label.control-label, .label-floating{
  color: black !important;
  font-size: 20px !important;
}
.form-control, .form-group .form-control{
  background-image: linear-gradient(blue, blue) !important;
}

.form-group.label-floating label.control-label, 
.form-group.label-placeholder label.control-label{
  left:20px !important;
}

.historia-texto{
  text-align: left;
}

.well{
  line-height: 1.2;
  border: 1px #dedede solid !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}