body{
  background-color:#eaeaea !important;
}
header{
  margin-top: 55px;
}

.form-group.label-static label.control-label, .label-floating{
  color: black !important;
  font-size: 20px !important;
}
.form-control, .form-group .form-control{
  background-image: linear-gradient(blue, blue) !important;
}

.form-group.label-floating label.control-label, 
.form-group.label-placeholder label.control-label{
  left:20px !important;
}

.historia-texto{
  text-align: left;
}

.well{
  line-height: 1.2;
  border: 1px #dedede solid !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.history{
  margin-top: 15px;
}

.btn-group{
  margin: 0 0 0 0;
  background-color: #fff !important;
}

.btn-group > .btn:first-child {
  border-right: 1px solid !important;
  border-color: rgba(128, 128, 128, 0.58) !important;
}

.btn-group > .btn{
  padding: 10px;
}


.btn-group > .btn span{
  font-size: 16px;
  color: #eaeaea !important;
}

.btn-group > i{
  color:black !important;
}

.btn:not(.btn-raised):not(.btn-link):focus span,
.btn:not(.btn-raised):not(.btn-link):hover span,
.input-group-btn .btn:not(.btn-raised):not(.btn-link):focus span,
.input-group-btn .btn:not(.btn-raised):not(.btn-link):hover span{ 
  color:black !important;
}

.form-group{
  padding-bottom: 0 !important;
  margin: 0 !important; 
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.filters{
  display: none;
}