body{
  background-color:white !important;
}
header{
  margin-top: 70px;
}

.small{
  margin-left: 85px !important;
  margin-top: 65px !important;
  position: absolute !important;
}

.form-group.label-static label.control-label, .label-floating{
  color: black !important;
  font-size: 20px !important;
}

.form-control, .form-group .form-control{
  background-image: linear-gradient(blue, blue), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.btn-danger{
  height: 65px;
}

.title-datos{
  font-size: 29px;
  margin-left: 85px;
  margin-top: 30px;
  position: absolute;
}

.navbar-success{
  height: 100px !important;
}

.mis-datos{
  margin-top: 100px !important;
}