@media all and (min-width: 960px) {
  h1{
      font-size: 50px;
  }
  h4{
    font-size: 25px;
  }
  #actions{
    margin-top:10%;
  }
  .title-home{
    margin-top:10%;
  }
}
@media all and (max-width: 959px) and (min-width: 600px) {
  h1{
      font-size: 7vw;
  }
  h4{
    font-size: 5vw;
  }
  #actions{
    margin-top:10%;
  }
  .title-home{
    margin-top:10%;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
  h1{
      font-size: 8vw;
  }
  h4{
    font-size: 5vw;
    line-height: 1.6;
  }
}