body{
    background-color:white !important;
}
header{
        margin-top: 70px;
}
.boton-form{
    background-color: #dd6a7b !important;
    width: 100% !important;
    color: white !important;
    padding: 15px;
}

.form-group.label-static label.control-label, .label-floating{
        color: black !important;
    font-size: 20px !important;
}