body{
  background-color:white !important;
}
header{
  margin-top: 70px;
}

.form-group.label-static label.control-label, .label-floating{
  color: black !important;
  font-size: 20px !important;
}

.form-control, .form-group .form-control{
  background-image: linear-gradient(blue, blue), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.btn-danger{
  height: 65px;
}

.title-tipo-agresion{
  font-size: 25px;
  margin-left: 74px;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  line-height: 1;
}

.navbar-success{
  height: 100px !important;
}

.tipo-agresion{
  margin-top: 100px !important;
}

.title-list{
  font-size: 19px;
    color: #a0a0a0 !important;
    margin-left: 15px;
}
hr{
  margin-bottom: 10px;
  margin-top:10px;
}
a:focus, a:hover {
    color: #55caf8 !important;
    text-decoration:none;
}