body{
  background-color:white !important;
}
header{
  margin-top: 70px;
}

.form-group.label-static label.control-label, .label-floating{
  color: black !important;
  font-size: 20px !important;
}

.form-control, .form-group .form-control{
  background-image: linear-gradient(blue, blue), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.btn-danger{
  height: 65px;
}

.title-tipo-agresion{
  font-size: 25px;
  margin-left: 60px;
  margin-top: 35px;
  position: absolute;
  text-align: center;
  line-height: 1;
}

.navbar-success{
  height: 100px !important;
}

.tipo-agresion{
  margin-top: 100px !important;
}

.title-list{
font-size: 19px;
    color: black !important;
    padding: 6%;
}
hr{
  margin-bottom: 0px;
  margin-top:0px;
}
.title-list:focus, .title-list:hover {
    color: black !important;
    text-decoration:none;
    background-color:#eaeaea !important;
    
}
a{
  color:#666 !important;
}
p {
    margin: 0 0 0px;
}

.navbar .navbar-brand, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover {
    color: inherit !important;
    background-color: transparent !important;
}

.navbar .navbar-nav>li>a {
    color: inherit !important;
    padding-top: 20px;
    padding-bottom: 20px;
}